/.idea/*
/out/production/JavaTraining/U16_Range/Range.class
/out/production/JavaTraining/U9_Cent/Cent.class
/JavaTraining.iml
/out/production/JavaTraining/U15_KumulProd/KumulProd.class
/out/production/JavaTraining/U20_Random/RandomText.class
/out/production/JavaTraining/U6_Sequences/README.md
/out/production/JavaTraining/U7_VierQuadrate/README.md
/out/production/JavaTraining/U9_Cent/README.md
/out/production/JavaTraining/U12_Vertical/README.md
/out/production/JavaTraining/U14_Winkel/README.md
/out/production/JavaTraining/U15_KumulProd/README.md
/out/production/JavaTraining/U20_Random/README.md
/out/production/JavaTraining/U6_Sequences/Sequences.class
/out/production/JavaTraining/U12_Vertical/Vertical.class
/out/production/JavaTraining/U7_VierQuadrate/VierQuadrate.class
/out/production/JavaTraining/U14_Winkel/Winkel.class
/out/production/JavaTraining/U23_Jahreszeit/Jahreszeit.class
/out/production/JavaTraining/U23_Jahreszeit/README.md
/out/production/JavaTraining/Zusatzaufgabe_1_RoemischeZahlen/RoemischeZahlen.class
